.title {
  font-size: 2rem;
  color: white;
}

body {
  background-color: #121212;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f1f1f;
  padding: 30px 160px 30px 90px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  color: white;
}

.title_logo {
font-size: 40px;
}

.header_secciones {
  display: flex;
  font-size: 30px;
  gap: 200px;
}

.secciones_hijo, .title_logo {
  text-decoration: none;
  color: white;
}

.main_content_1 {
  display: flex;
  color: white;
  padding: 30px 150px 0 150px;
  justify-content:center;
  flex-direction: row;
  gap: 600px;
  margin: 60px 0 130px 0;
}

.main_content_hijo {
display: flex;
  padding: 20px;
  flex-direction: column;
}

.btn_CTA_h1{
padding: 10px 20px;
margin: 70px 0 70px 0;
}

.main_content_2 {
  display: flex;
  color: white;
  justify-content:center;
  flex-direction: column;
    padding: 0 150px 0 150px;
}

.acercade_padre {
  flex-direction: column;
}